* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}

header {
  nav {
    width: 100%;
    z-index: 10;
    ul {
      padding: 2rem;
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 1.7rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  section.left {
    flex: 3 1 500px;
    padding: 2rem;
    h1 {
      font-size: 4rem;
      color: #e08958;
      padding: 1rem 0rem;
    }
    p {
      font-size: 1.8rem;
      padding: 1rem 0rem;
    }
  }
  section.right {
    flex: 1 1 600px;
    position: relative;
    margin: 1rem;
    img {
      object-fit: cover;
      border-radius: 50%;
      width: 30vw;
      height: 30vw;
      position: absolute;
      top: 52vh;
      right: 15vw;
      transform: translateY(-50%);
    }
  }

  section.table {
    flex: 4 1 500px;
    padding: 2rem;
    table {
      border-collapse: collapse;
      tr {
        border-bottom: 2px solid grey;
        td {
          padding: 1rem;
          img {
            width: 5vw;
            height: 5vw;
          }
          a {
            text-decoration: none;
            color: navy;
          }
          a:hover {
            background-color: #e08958;
            color: white;
          }
        }
        &:hover {
          background-color: #fbe1cab0;
          transition: all 0.2s ease;
        }
      }
    }
  }
  section.picture {
    flex: 1 1 600px;
    position: relative;
    img {
      width: 35vw;
      height: 90vh;
      object-fit: cover;
    }
    div.orangeRect {
      width: 33vw;
      height: 90vh;
      background-color: #e08958;
      z-index: -1;
      position: absolute;
      top: 55px;
      right: 80px;
    }
  }

  section.form {
    flex: 1 1 600px;
    form {
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1.5rem;
      div {
        margin: 0.5rem;
        label {
          font-size: 1.5rem;
        }
        input,
        textarea {
          background-color: #f6c0a1;
          font-size: 1.25rem;
          padding: 0.5rem 0.25rem;
          border: none;
          border-radius: 5px;
          width: 90%;
        }
      }
      button {
        align-self: center;
        background-color: navy;
        color: white;
        border: none;
        cursor: pointer;
        padding: 0.5em 2.5rem;
        margin: 2rem 0rem;
        font-size: 1.5rem;
        border-radius: 10px;
      }
      button:hover {
        background-color: #e08958;
      }
    }
  }
  div.line {
    background-color: gray;
    width: 3px;
  }

  section.contact {
    flex: 1 1 500px;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    padding: 2rem 6rem;
    div.content {
      h2 {
        margin: 1rem 0rem;
      }
      a {
        text-decoration: none;
        color: navy;
      }
      a:hover {
        background-color: #e08958;
        color: white;
      }
    }
  }
}

.active {
  color: #e08958;
}

footer {
  a {
    padding: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header {
    nav {
      ul {
        width: 100%;
        flex-direction: column;
        li {
          padding: 1rem 0rem;
          border-bottom: 2px solid grey;
        }
      }
    }
  }
  main {
    section.right {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: static;
        transform: none;
        width: 50vw;
        height: 50vw;
      }
    }
    section.picture {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50vw;
        height: 50vh;
        padding: 2rem;
      }
      div.orangeRect {
        display: none;
      }
    }
  }
}
